##  ----------------------------------------------------------------
##           CONFIGURATION DATA for STATEMACHINE.PY
##  ----------------------------------------------------------------

# run a statemachine best by a cron job
#   python path_to_MARTAS/app/statemachine.py -m this_config_file 

# MARTAS directory
martasdir            :   /home/cobs/MARTAS/

# Define data source (file, db, ...)
source               :   file

# If source = db then define data base credentials created by addcred (MARTAS)
dbcredentials        :   None


# If source = file define the MARTAS buffer base path
bufferpath           :   /srv/mqtt

# statusfile (a json style dictionary, which contains states) 
statusfile            :   /var/log/magpy/status.log

# Path of mail config file
emailconfig : /etc/martas/mail.cfg

# serial communication for switch commands (based on ardcomm.py (MARTAS/app))
serialcfg            :   None

# now the parameters of the state machine
#Nr. : 'sensorid';'timerange';'key';'value';'function';'operator';'statusmessage';'nextstatus'[;action;argument;action;argument...]
# comment: timerange in seconds, statusmessage is until now a dummy
status : start
1  :  SENSOR1_SERNR_0001;180;t1;20;min;below;;triggered;email;t1 below 20°
2  :  SENSOR1_SERNR_0001;180;t1;25;max;above;;triggered;email;t1 above 25°
status : triggered
1  :  SENSOR1_SERNR_0001;180;t1;20;min;above;;start;email;t1 above 20° again - I like to send emails ;-)
2  :  SENSOR1_SERNR_0001;180;t1;20;min;above;;reentered;email;t1 above 20° again - but that doesn't mean everything is fine again...
status : reentered
2  :  SENSOR1_SERNR_0001;120;t1;20;average;below;;reentered;email;it seems like t1 is toggling around 20°C - no more email.


