# This is a file for testing, it should be removed!
# some configs
mailadress : richard@work
# now the parameters of the state machine
status : start
#1 : valuenamelist = ['sensorid','timerange','key','value','function','operator','statusmessage','nextstatus']
1  :  SENSOR_0001_0001; 3600; t2; 5; min; below; Temp too low; triggered; action1Start1; argument1Start1
2  :  SENSOR_0001_0001; 3600; t2; 5; min; above; Temp too high; lower; action1Start2; argument1Start2;action2Start2;;action3Start2;argument3Start2
status : triggered
1  :  SENSOR_0001_0001; 3600; t2; 5; min; above; Temp ok; start; actionTriggered1; argumentTriggered1
status : lower
2  :  SENSOR_0001_0001; 3600; t2; 5; min; above; Temp too high; start 

mailconf : mail.cfg
