# This is a file for testing, it should be removed!
Richard : voll ok ;-)
status : start
#1 : valuenamelist = ['sensorid','timerange','key','value','function','operator','statusmessage','nextstatus']
1  :  SENSOR_0001_0001; 3600; t2; 5; min; below; Temp too low; NEXTSTATUS; action; Hey die Temp!
status : triggered
1  :  SENSOR_0001_0001; 3600; t2; 5; min; above; Temp ok; NEXTSTATUS; action; Hey die Temp is ok!


