
##  ----------------------------------------------------------------
##           CONFIGURATION DATA for sending mails
##              required by MARTAS/core/methods.py
##  ----------------------------------------------------------------

# mail subject
Subject  :  From MARTAS with love

# mail sender
From  :  user@zamg.ac.at

# recipients
# syntax: first@adress, second@adress
To  :  anotheruser@zamg.ac.at, andanaotheruser@gmx.at

# attachments
# syntax: /path/to/file1, /path/to/file2
#Attach  :  /tmp/log.txt

# Text
#Text  :  This is a test mail

# mail credentials (requires usage of addcred)
mailcred  :  mymailcred
