# Configuration data for dash webinterface (MARTAS and MARCOS)
# use # to uncomment
# ##################################################################
#

# Default page
# -----------------
# Please specify the default page to open (MARTAS or MAROCS).
# ++
defaultpage  :  homedirectory


# Graph refresh rate, start dimensions and coverage in minutes
# -----------------
# Define the refresh rate of the graphical view.
# ++
refreshrate  :  5
defaultheight  :  450
defaultcoverage  :  10


# Use buffer directory
# -----------------
# When loading the webpage, existing data can be obtained from bufferfiles
# to immidiately show a full plot.
# This might be very slow and memory consuming for high resolution (10Hz)
# files on low-power systems.
# If false then only streamd data is used and the buildup of the plot will need some time
read_initial_buffer  :   False


# Debug mode
# ----------------------
# Will provide additional information within logs.
# Don't use for regular measurements otherwise
# your log file will increase dramatically in size.
# Possible inputs are True/False
# ++
debug  :  False

